<div id="last-users">
    <h1 class="font-bold py-4 uppercase">requests</h1>
    <div class="overflow-x-scroll">
        <table class="w-full whitespace-nowrap">
            <thead class="bg-black/60">
                <th class="text-left py-3 px-2 rounded-l-lg">Name</th>
                <th class="text-left py-3 px-2">Email</th>
                <th class="text-left py-3 px-2">phone No</th>
                <th class="text-left py-3 px-2">Status</th>
                <th class="text-left py-3 px-2 rounded-r-lg">Actions</th>
            </thead>
            <tr class="border-b border-gray-700" *ngFor="let res of result">
                <td class="py-3 px-2 font-bold">
                    <div class="inline-flex space-x-3 items-center">
                        <span><img class="rounded-full w-8 h-8" src="https://images.generated.photos/tGiLEDiAbS6NdHAXAjCfpKoW05x2nq70NGmxjxzT5aU/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/OTM4ODM1LmpwZw.jpg" alt=""></span>
                        <span>{{res.userInfo.firstName}}</span>
                    </div>
                </td>
                <td class="py-3 px-2">{{res.userInfo.email}}</td>
                <td class="py-3 px-2">{{res.userInfo.phone}}</td>
                <td class="py-3 px-2">{{res.accepted}}</td>
                <td class="py-3 px-2">
                    <div class="inline-flex items-center space-x-3">
                      <a href="" title="Verify" class="hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                        </svg>
                    </a>
                        <a href="" title="Cancel" class="hover:text-white"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
                          </svg>
                          </a>
                    </div>
                </td>
            </tr>

        </table>
    </div>
</div>



<div class="mt-40" style="background-color: #1a202c; color: white;">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8 bg-gray-900 dark:bg-gray-800">
        <table mat-table [dataSource]="dataSource" matSort class="responsive-table">
      
          <ng-container matColumnDef="rowNumber">
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
          </ng-container>
      
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
            <td mat-cell *matCellDef="let row"> {{row.userInfo.firstName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone no </th>
            <td mat-cell *matCellDef="let row"> {{row.userInfo.phone}} </td>
          </ng-container>
      
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
            <td mat-cell *matCellDef="let row"> {{row.details}} </td>
          </ng-container>

         

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
                <button  mat-icon-button  color="primary" >
                    <mat-icon>block</mat-icon>
                </button>
                <button  mat-icon-button color="warn" >
                    <mat-icon>check_circle</mat-icon>
                </button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
</div>