<app-user-header></app-user-header>
<div class="mt-8 ">
    <div class="md:grid grid-cols-4 grid-rows-2 bg-white dark:bg-gray-900 gap-2 p-4 rounded-xl">
      <div class="md:col-span-1 h-79 shadow-xl bg-slate-700">
        <div class="flex w-full h-full relative">
          <img src="https://res.cloudinary.com/dboafhu31/image/upload/v1625318266/imagen_2021-07-03_091743_vtbkf8.png" class="w-44 h-44 m-auto" alt="">
        </div>
      </div>
      <div class="md:col-span-3 h-79 shadow-xl p-4 space-y-2 bg-slate-700">
        <div class="mt-2">
          <div class="flex-1 rounded-lg shadow-xl p-8 bg-slate-700">
            <h4 class="text-xl text-white font-bold">Personal Info</h4>
            <ul class="mt-2 text-white">
              <li class="flex border-y border-white py-2">
                <span class="font-bold w-24">Full name:</span>
                <span class="text-white">Amanda S. Ross</span>
              </li>
              <li class="flex border-b border-white py-2">
                <span class="font-bold w-24">Birthday:</span>
                <span class="text-white">24 Jul, 1991</span>
              </li>
              <li class="flex border-b border-white py-2">
                <span class="font-bold w-24">Joined:</span>
                <span class="text-white">10 Jan 2022 (25 days ago)</span>
              </li>
              <li class="flex border-b border-white py-2">
                <span class="font-bold w-24">Mobile:</span>
                <span class="text-white">(123) 123-1234</span>
              </li>
              <li class="flex border-b border-white py-2">
                <span class="font-bold w-24">Email:</span>
                <span class="text-white">amandaross@example.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  