<app-user-header></app-user-header>

  <div class="h-fullbg-white/10 p-8 bg-white dark:bg-gray-900">
    <div class="bg-black rounded-lg shadow-xl pb-8">
      <div class="w-full h-[250px]">
        <img
          src="https://vojislavd.com/ta-template-demo/assets/img/profile-background.jpg"
          class="w-full h-full rounded-tl-lg rounded-tr-lg"
        />
      </div>
      <div class="flex flex-col items-center -mt-20 bg-black">
        <img
        [src]="data?.image"
          class="w-40 border-4 border-white rounded-full"
        />
        <div class="flex items-center space-x-2 mt-2">
          <p class="text-gray-100 text-2xl">{{data?.firstName}} {{data?.lastName}}</p>
        </div>
        <p class="text-gray-700">{{data?.phone}}</p>
        <p class="text-sm text-gray-500">{{data?.email}}</p>
      </div>
      <div class="flex-1 flex flex-col items-center lg:items-end justify-end px-8 mt-2">
        <div class="flex items-center space-x-4 mt-2">
          <input 
            type="file"
            id="photoInput"
            style="display: none"
            (change)="handleFileChange($event)"
          />
          <label
            for="photoInput"
            class="cursor-pointer flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100"
          >
            <span>edit photo</span>
          </label>
        </div>
      </div>
    </div>
    
  
    <div
      class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4"
    >
      <div class="w-full flex flex-col 2xl:w-1/3">
        <div class="flex-1 bg-black rounded-lg shadow-xl p-8">
         <div class="flex items-center justify-between">
          <h4 class="text-xl text-gray-200 font-bold">Personal Info</h4>
          <button (click)="editUserDetails()" class="flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100">
            <span>Edit</span>
        </button>
         </div>
          <ul class="mt-2 text-gray-700">
            <li class="flex border-y py-2">
              <span class="font-bold w-24">First name:</span>
              <span class="text-gray-300">{{data?.firstName}}</span>
            </li>
            <li class="flex border-b py-2">
              <span class="font-bold w-24">Last name:</span>
              <span class="text-gray-300">{{data?.lastName}}</span>
            </li>
            <li class="flex border-b py-2">
              <span class="font-bold w-24">Mobile:</span>
              <span class="text-gray-300">{{data?.phone}}</span>
            </li>
            <li class="flex border-b py-2">
              <span class="font-bold w-24">Email:</span>
              <span class="text-gray-300">{{data?.email}}</span>
            </li>
            <li class="flex border-b py-2">
              <span class="font-bold w-24">Location:</span>
              <span class="text-gray-300">{{data?.location}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col w-full 2xl:w-2/3">
        <div class="flex-1 bg-black rounded-lg shadow-xl p-8">
              <h4 class="text-xl text-gray-200 font-bold">Hired Works</h4>
              <mat-card class="light-bg dark-bg mt-2" *ngFor="let worker of workerData" >
                <mat-card-header>
                  <mat-card-title class="text">{{worker.department.name}}</mat-card-title>
                  <mat-card-subtitle class="text">{{worker.firstName}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                  <button (click)="viewProgress(worker._id)" mat-button color="warn">View More</button>
                  <!-- <button mat-button color="warn">SHARE</button> -->
                </mat-card-actions>
              </mat-card>
        </div>
      </div>
    </div>
  </div>
  