<!-- component -->
<app-user-header></app-user-header>
<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <h1
      class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"
    >
      Available Services
    </h1>

    <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
      <div
        class="lg:flex"
        *ngFor="let cat of category.slice(startIndex, endIndex + 1)"
        (click)="view(cat._id)"
      >
        <img
          class="object-cover w-full h-56 rounded-lg lg:w-64"
          [src]="cat.Image"
          alt="{{ cat.name }}"
        />
        <div class="flex flex-col justify-between py-6 lg:mx-6">
          <a
            class="text-xl font-semibold text-gray-800 hover:underline dark:text-white"
          >
            {{ cat.name }}
          </a>
          <p class="text-yellow-50">{{ cat.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-4" *ngIf="category.length > itemsPerPage">
    <p class="text-white" style="margin-top: 7px;">Page {{ currentPage }}</p>
    <button class="px-3 py-1 mx-1 bg-blue-500 text-white rounded hover:bg-blue-600" *ngIf="currentPage > 1" (click)="currentPage = currentPage - 1">Previous</button>
    <button class="px-3 py-1 mx-1 bg-blue-500 text-white rounded hover:bg-blue-600" *ngIf="endIndex < category.length - 1" (click)="currentPage = currentPage + 1">Next</button>
  </div>
</section>
<app-user-footer></app-user-footer>
