<div class="flex items-center justify-center h-screen">
  <div class="container">
    <div class="heading">Sign In</div>
    <form class="form" [formGroup]="adminLoginForm">
      <input class="input" type="email" formControlName="email" placeholder="E-mail">
      <small *ngIf="adminLoginForm.controls['email'].touched && adminLoginForm.hasError('required', 'email')" class="text-red-600 ">*User Email required</small>
      <div class="input-container">
        <input class="input" matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </div>
      <small *ngIf="adminLoginForm.controls['password'].touched && adminLoginForm.hasError('required', 'password')" class="text-red-600">*password required</small>
      <button class="login-button" type="submit">Sign In</button>
    </form>
  </div>
</div>
