<div class="bg-black/60 to-white/5" *ngIf="editData.mode === 'photo'">
    <h1 mat-dialog-title>Edit photo</h1>
<div mat-dialog-content>
  <form [formGroup]="workerProfileForm">
    <div>
        <label class="text-black">image</label>
    </div>
    <div>
        <input type="file"  formControlName="file" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png">
    </div>

    <mat-dialog-actions >
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button  cdkFocusInitial (click)="updatePhoto()">Change</button>
    </mat-dialog-actions>
  </form>
</div>

</div>



  <!-- worker details edit  -->

<div *ngIf="editData.mode === 'details'">
  <h1 mat-dialog-title> edit details </h1>
<div mat-dialog-content>
<form [formGroup]="workerDetailsForm">
  <mat-form-field>
    <mat-label>Enter your Firstname</mat-label>
    <input  matInput placeholder="john"   formControlName="firstName" required>
  </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your Lastname</mat-label>
        <input  matInput placeholder="do"   formControlName="lastName" required>
      </mat-form-field>

    
    
      <mat-form-field>
        <mat-label>Enter your department</mat-label>
        <input  matInput placeholder="eg: electrician"   formControlName="department" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your mobile no</mat-label>
        <input  matInput placeholder="1234567898"   formControlName="phoneNo" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your district</mat-label>
        <input  matInput placeholder="district"   formControlName="location" required>
      </mat-form-field>
     
    
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button (click)="updateDetails()" mat-button [mat-dialog-close]="true" cdkFocusInitial>submit</button>
      </mat-dialog-actions>
</form>
</div>

</div>

<div  *ngIf="editData.mode === 'userRequirements'" class="flex flex-col w-full 2xl:w-2/3" style="width: 100%;">
  <div class="flex-1 bg-black rounded-lg shadow-xl p-8">
    <div class="flex items-center justify-between">
        <h4 class="text-xl text-gray-200 font-bold">Requirements :</h4>
       
    </div>
    

    <p class="mt-2 text-gray-300">
      {{ details.requirement}}
    </p>
  </div>
</div>
