<app-user-header></app-user-header>
<div class="grid grid-cols-10 h-full">
    <div class="col-span-4 bg-black">
        <div class="max-w-lg mx-auto my-10 bg-white rounded-lg shadow-md p-5">
          <img
            class="w-32 h-32 rounded-full mx-auto"
            [src]="workerData?.image"
            alt="Profile picture"
          />
          <h2 class="text-center text-2xl font-semibold mt-3">{{workerData?.firstName}}</h2>
          <p class="text-center text-gray-600 mt-1">{{workerData?.department.name}}</p>
  
          <div class="mt-5">
            <div class="flex justify-between mr-6"> 
              <h3 class="text-xl font-semibold">Details</h3>
              <button class="start-10 ml-4" mat-raised-button color="warn" title="Report worker" (click)="reportWorker()">
                <mat-icon>report</mat-icon>
                Report
              </button>              
            </div>
            

            <div class="grid grid-cols-10">
              <p class="mt-2 col-span-5"> name: <span class="text-gray-600 ">{{workerData?.firstName}} {{workerData?.lastName}}</span></p>
            <p class="mt-2 col-span-5"> mobile no: <span class="text-gray-600 ">{{workerData?.phoneNo}}</span></p>

              <p class="mt-2 col-span-5"> location: <span class="text-gray-600">{{workerData?.district}}</span> </p>
              <p class="mt-2 col-span-5"> email: <span class="text-gray-600">{{workerData?.email}}</span> </p>
            </div>
          </div>
        </div>
    </div>
    <div class="col-span-6 bg-black">   
          
        <div class="progress-container">
            <h1 class="text-white" *ngIf="active">Current Progress</h1>  
            <h1 class="text-white" *ngIf="inActive">Work In Progress</h1>  
            <mat-progress-bar *ngIf="active" mode="determinate" [value]="progressBar" color="primary"></mat-progress-bar>
            <mat-progress-bar *ngIf="inActive" mode="indeterminate" color="warn"></mat-progress-bar>
            <div class="progress-stage my-5" >Work Started</div>
            <div class="progress-stage  my-5" style="left: 50%;">Work Under Progress</div>
            <div class="progress-stage  my-5" style="left: 100%;"> Completed</div>
            
        </div>
        <button class="start-10" mat-raised-button color="primary" (click)="viewImages()">view images</button>
        <button class="start-10 ml-4" mat-raised-button color="primary" (click)="message()">message</button>
        <mat-card class="start-10 my-6 w-10/12" *ngIf="payActive">
          <form [formGroup]="amountForm">
            <mat-card-content>
              <p> Amount to be Paid : ₹{{Amount}}</p>
                <div class="ml-auto flex justify-end">
                   <button mat-raised-button color="primary" (click)="initiateRazorpayPayment(workerData?._id)">pay</button> 
                </div>
            </mat-card-content>
          </form>
        </mat-card>

        <button *ngIf="ratingButtonActive" class="start-10 ml-4" mat-raised-button color="primary" (click)="ratingModal()">Give rating</button>
    </div>
</div>
